.spyproject
__pycache__
model_weights
data
logs
plots


main_hard_ensemble.py


plots_master_roma_awcd.ipynb



test_vggt_2.ipynb

test_vggt.ipynb


copy_unlocalized_queries_and_candidates.py

false_positives_prediction.ipynb

