[submodule "image-matching-models"]
	path = image-matching-models
	url = https://github.com/gmberton/image-matching-models
[submodule "LightGlue"]
	path = LightGlue
	url = git@github.com:cvg/LightGlue.git
